<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Liste des Auteurs</title></head>
<body>
<h1>Liste des Auteurs</h1>

<table>
    <tr>
        <th>Nom Prénom</th>
        <th>Actions</th>
    </tr>
    <tr th:each="auteur : ${auteurs}">
        <td th:text="${auteur.nom}">Nom</td>
        <td>
            <a th:href="@{/auteurs/edit/{id}(id=${auteur.id})}">Modifier</a>
            <a th:href="@{/auteurs/delete/{id}(id=${auteur.id})}" onclick="return confirm('Confirmer la suppression?');">Supprimer</a>
        </td>
    </tr>
</table>

<a th:href="@{/auteurs/add}">Ajouter un Auteur</a>
</body>
</html>
